<header
  class="bg-gradient-to-r from-blue-500 to-purple-500 text-white p-6 shadow-lg sticky top-0 z-10">
  <div class="text-center">
    <h1 class="text-2xl font-bold">Travel App</h1>
    <div *ngIf="pageProps.titulo" class="mt-4">
      <h2 class="text-xl font-semibold">{{ pageProps.titulo }}</h2>
      <p class="text-sm opacity-90">{{ pageProps.subtitulo }}</p>
    </div>
  </div>

  <div class="mt-4">
    <hr class="border-t border-blue-300 opacity-50" />
  </div>

  <nav class="flex justify-center mt-4">
    <ul class="flex justify-center space-x-4 text-white font-semibold">
      <li><a routerLink="/pages/categories"
          class="text-white hover:bg-zinc-50/20 px-4 py-2 rounded-md transition-colors">Categories</a></li>
      <li><a routerLink="/pages/places"
          class="text-white hover:bg-zinc-50/20 px-4 py-2 rounded-md transition-colors">Places</a></li>
      <li><a routerLink="/pages/gallery"
          class="text-white hover:bg-zinc-50/20 px-4 py-2 rounded-md transition-colors">Gallery</a></li>
      <li><a routerLink="/pages/login" disabled
          class="text-white/50 cursor-not-allowed enabled:text-white enabled:hover:bg-zinc-50/20 enabled:cursor-default px-4 py-2 rounded-md transition-colors
        ">Login</a></li>
      <li><a
          routerLink="/pages/register"
          disabled
          class="text-white/50 cursor-not-allowed enabled:text-white enabled:hover:bg-zinc-50/20 enabled:cursor-default px-4 py-2 rounded-md transition-colors
          ">Register</a></li>
    </ul>
  </nav>
</header>

<!-- router-outlet é um componente que permite que o Angular renderize as rotas filhas -->
<router-outlet></router-outlet>

<footer class="bg-gray-800 text-white p-6 fixed bottom-0 w-full">
  <div class="text-center">
    <p>&copy; 2025 Travel App. All rights reserved.</p>
  </div>
</footer>
